{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h2 class="my-4 sub-title">📜 Sell History</h2>

    <div class="table-responsive">
        <table class="table custom-table border-table">
            <thead class="table-primary">
                <tr>
                    <th>Product</th>
                    <th>Customer</th>
                    <th>Sold At</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                {% for history in sell_history %}
                <tr>
                    <td>{{ history.product.name }}</td>
                    <td>{{ history.user.user.username }}</td>
                    <td>{{ history.ordered_at|date:"F j, Y, g:i a" }}</td>
                    <td>{{history.status}}</td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="5" class="text-center text-danger">
                        No sell history available.
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
