{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="d-flex justify-content-between align-items-center my-4">
        <h2 class="sub-title ">Product List</h2>
        <a href="{% url 'add_product' %}" class="btn btn-primary-sm">
            <i class="bi bi-plus-lg"></i>
        </a>
    </div>
    <table class="table custom-table border-table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Image</th>
                <th>Description</th>
                <th>Category</th>
                <th>Price</th>
                <th>Offer Percentage</th>
                <th>Sizes</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for product in products %}
            <tr>
                <td>{{ product.name }}</td>
                <td>
                    {% if product.straight_image %}
                        <img class="img-fluid" src="{{ product.straight_image.url }}" alt="{{ product.name }}" width="80" height="80">
                    {% else %}
                        No Image
                    {% endif %}
                </td>
                <td>
                    <div class="description-wrap">
                        {{ product.description }}
                    </div>
                </td>
                <td>{{ product.category }}</td>
                <td>${{ product.price }}</td>
                <td>{{ product.offer_percentage }}%</td>
                <td>{{ product.sizes }}</td>
                <td >
                    <div class="d-flex gap-2">
                        <a href="{% url 'update_product' product.id %}" class="btn btn-primary-sm btn-sm">
                            <i class="bi bi-pencil"></i>
                        </a>
                        <a href="{% url 'delete_product' product.id %}" class="btn btn-danger btn-sm">
                            <i class="bi bi-trash"></i>
                        </a>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}