{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container mt-5">
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'user_register' %}">Register User</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'staff_register' %}">Register Staff</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'brand_register' %}">Register Brand</a>
        </li>
    </ul>
    <div class="register-form">
        <h2 class="sub-title my-4">User Registration</h2>
        <form method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="btn primary-btn w-100">Register</button>
        </form>

        <p class="mt-3">
            Already have an account? <a class="forgot-password" href="{% url 'login' %}">Login here</a>
        </p>
    </div>
</div>
{% endblock %}