{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="my-4">
        <h2 class="sub-title">📋 Order List</h2>

        {% if orders %}
        <table class="table custom-table border-table">
            <thead>
                <tr>
                    <th>Order ID</th>
                    <th>Customer</th>
                    <th>Product</th>
                    <th>Quantity</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for order in orders %}
                <tr>
                    <td>{{ order.id }}</td>
                    <td>{{ order.user.user.username }}</td>
                    <td>{{ order.product.name }}</td>
                    <td>{{ order.quantity }}</td>
                    <td class="{% if order.is_delivered %}status-delivered{% else %}status-pending{% endif %}">
                        {{ order.track_status }}
                    </td>
                    <td>
                        <a href="{% url 'update_order_status' order.id %}" class="btn btn-primary-sm">
                            <i class="bi bi-pencil"></i>
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <p style="text-align: center; color: #777;">No orders found.</p>
        {% endif %}
    </div>
    <!-- Pagination -->
    <div class="pagination">
        {% if orders.has_previous %}
        <a href="?page=1" class="page-btn">First</a>
        <a href="?page={{ orders.previous_page_number }}" class="page-btn">Previous</a>
        {% endif %}

        <span class="current-page">Page {{ orders.number }} of {{ orders.paginator.num_pages }}</span>

        {% if orders.has_next %}
        <a href="?page={{ orders.next_page_number }}" class="page-btn">Next</a>
        <a href="?page={{ orders.paginator.num_pages }}" class="page-btn">Last</a>
        {% endif %}
    </div>
</div>

{% endblock %}