{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="card center-popup p-4 w-50">
        <h2 class="sub-title my-4">Update Order Status</h2>
        <form method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label for="id_track_status">Tracking Status:</label>
                {{ form.track_status }}
            </div>
    
            <div class="form-group">
                <label for="id_is_delivered">
                    {{ form.is_delivered.label_tag }} 
                    {{ form.is_delivered }}
                </label>
            </div>
            <div class="btn-group w-100 d-flex gap-2 mt-4">
                <a href="{% url 'staff_dashboard' %}" class="btn btn-secondary">Back to Orders</a>
                <button type="submit" class="btn primary-btn">Update Status</button>
            </div>
        </form>
    
        <br>
        
    </div>
</div>
{% endblock %}
