{% extends 'base.html' %}

{% block content %}
<div class="container my-5">
    <div class="admin-landing">
        <!-- Manage Salons -->
        <div class="card card-transition cursor-pointer" onclick="window.location.href='brand-list';">
            <div class="card-icon">
                <i class="bi bi-kanban text-success"></i>
            </div>

            <div class="card-content text-center">
                <h5 class="sub-text">Manage brands</h5>
                <p class="card-text">
                    <small>Add, Edit, and Remove brands</small>
                </p>
            </div>
        </div>

        <!-- Manage Users -->
        <div class="card card-transition cursor-pointer" onclick="window.location.href='customer-list';">
            <div class="card-icon">
                <i class="bi bi-people text-success"></i>
            </div>

            <div class="card-content text-center">
                <h5 class="sub-text">Manage Users</h5>
                <p class="card-text">
                    <small>View and Manage Users</small>
                </p>
            </div>
        </div>

        <div class="card card-transition cursor-pointer" onclick="window.location.href='review';">
            <div class="card-icon">
                <i class="bi bi-chat-square-text text-success"></i>
            </div>

            <div class="card-content text-center">
                <h5 class="sub-text">Review Brands</h5>
                <p class="card-text">
                    <small>Approve or Reject Brands</small>
                </p>
            </div>
        </div>
        <div class="card card-transition cursor-pointer" onclick="window.location.href='review';">
            <div class="card-icon">
                <i class="bi bi-list-check text-success"></i>
            </div>

            <div class="card-content text-center">
                <h5 class="sub-text">Manage Staffs</h5>
                <p class="card-text">
                    <small>View and Manage Staffs</small>
                </p>
            </div>
        </div>
        <div class="card card-transition cursor-pointer" onclick="window.location.href='review';">
            <div class="card-icon">
                <i class="bi bi-person-badge text-success"></i>
            </div>

            <div class="card-content text-center">
                <h5 class="sub-text">Review Staffs</h5>
                <p class="card-text">
                    <small>Approve or Reject Staffs</small>
                </p>
            </div>
        </div>
        <div class="card card-transition cursor-pointer" onclick="window.location.href='review';">
            <div class="card-icon">
                <i class="bi bi-chat-left-text text-success"></i>
            </div>

            <div class="card-content text-center">
                <h5 class="sub-text">Feedbacks</h5>
                <p class="card-text">
                    <small>Feedbacks</small>
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
