{% extends 'base.html' %}

{% block title %}Review Brand Registrations{% endblock %}

{% block content %}
<div class="container">
    <h2 class="my-4 sub-title">Review Brand Registrations</h2>
    <table class="table custom-table border-table">
        <thead>
            <tr>
                <th>Brand Name</th>
                <!-- <th>Owner Name</th> -->
                <th>Email</th>
                <th>Address</th>
                <th>Contact Info</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for brand in pending_brands %}
            <tr>
                <td>{{ brand.brand_name }}</td>
                <!-- <td>{{ brand.owner_name }}</td> -->
                <td>{{ brand.user.email }}</td>
                <td>{{ brand.address }}</td>
                <td>{{ brand.contact_info }}</td>
                <td>
                    <a href="{% url 'approve_brand' brand.id %}" class="btn btn-success btn-sm">
                        <i class="bi bi-check"></i>
                    </a>
                    <a href="{% url 'reject_brand' brand.id %}" class="btn btn-danger btn-sm">
                        <i class="bi bi-x"></i>
                    </a>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="6" class="text-center">No pending brand registrations.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}