{% extends 'admin/admin_base.html' %}
{% block title %}ShoeCart{% endblock %}

{% block content %}
<div class="container my-5">
    <h1 class="text-center mb-4">ShoeCart</h1>

    <div class="card shadow-sm p-4">
        <h5><strong>Full Name:</strong> {{ profile.first_name }}</h5>
        <p><strong>Email:</strong> {{ profile.email }}</p>
        <p><strong>Username:</strong> {{ profile.username }}</p>
        <!-- <p><strong>Phone:</strong> {{ profile.phone_number|default:"N/A" }}</p>
        <a href="{% url 'edit_profile' %}" class="btn btn-primary w-100">Edit Profile</a> -->
    </div>
</div>
{% endblock %}
