{% extends 'base.html' %}
{% block content %}
{% load static %}
<div class="hero-section">
    <div class="hero-content">
        <h1>Elevate Your <br> <span class="highlight-text">Style</span></h1>
        <p>Luxury craftmanship meets contemporary <br> design</p>
        <button class="primary-btn mt-4 px-4">Shop Now</button>
    </div>
    <div class="hero-right">
        <div class="overlay"></div>
        <img src="{% static '/images/hero-img.jpg' %}" alt="">
    </div>
</div>
<div class="product-listing wrapper">
    <h1 class="main-title text-center section-title font-bold">Recomended Products</h1>
    <div class="mt-4">
        {% include 'customer/product_list.html' %}
    </div>
</div>

<script>
    setTimeout(function () {
        const alerts = document.querySelectorAll('.alert');
        alerts.forEach(alert => alert.style.display = 'none');
    }, 3000);
</script>
{% endblock %}