{% extends 'base.html' %}
{% block title %}Login{% endblock %}
{% block extra_css %}
<style>
    .input-group {
        text-align: left;
        margin-bottom: 15px;
    }

    label {
        display: block;
        margin-bottom: 5px;
        color: #ffffff;
        font-size: 14px;
    }

    input[type="email"],
    input[type="password"] {
        width: 100%;
        padding: 12px;
        border: 2px solid #43FFD3;
        border-radius: 8px !important;
        background: #1F2933 !important;
        color: #fff;
        font-size: 14px;
    }   

    input:focus {
        outline: none;
        border-color: #00C9A7;
        box-shadow: 0 0 8px rgba(67, 255, 211, 0.5);
    }
    .error-message {
        color: #E63946;
        margin-top: 10px;
        font-size: 14px;
    }

    .forgot-password {
        display: block;
        margin-top: 10px;
        color: #43FFD3;
        font-size: 14px;
        text-decoration: none;
        transition: color 0.3s;
    }

    .forgot-password:hover {
        color: #00C9A7;
    }
</style>
{% endblock %}

{% block content %}
<div class="container center-container">
    <div class="login-container">
        <h2 class="text-center main-title-md highlight-text mb-4">Login</h2>
        {% if messages %}
            {% for message in messages %}
                <p class="error-message">{{ message }}</p>
            {% endfor %}
        {% endif %}
        
        <form method="post" action="{% url 'login' %}">
            {% csrf_token %}
            <div class="input-group">
                <label for="email">Email</label>
                <input type="email" name="email" id="email" required>
            </div>
            <div class="input-group">
                <label for="password">Password</label>
                <input type="password" name="password" id="password" required>
            </div>
            <button type="submit" class="primary-btn w-100">Login</button>
        </form>
    
        <a href="{% url 'password_reset' %}" class="forgot-password">Forgot Password?</a>
    </div>
</div>
{% endblock %}
